/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.bg {
    background-repeat: no-repeat;
    background-size: cover;   
}

    .bg.create {
        background-image: url(https://thumbs.dreamstime.com/z/%D0%B4%D0%BE%D0%BA%D1%82%D0%BE%D1%80%D0%B0-%D0%B8-%D0%BF%D0%B0%D1%86%D0%B8%D0%B5%D0%BD%D1%82%D1%8B-%D0%BC%D0%B5%D0%B4%D0%B8%D1%86%D0%B8%D0%BD%D1%81%D0%BA%D0%B8%D0%B9-%D0%BF%D0%B5%D1%80%D1%81%D0%BE%D0%BD%D0%B0%D0%BB-%D0%B1%D0%BE%D0%BB%D1%8C%D0%BD%D0%B8%D1%86%D1%8B-%D0%BF%D0%B0%D1%86%D0%B8%D0%B5%D0%BD%D1%82-%D0%BE%D0%B1%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%BA%D0%B8-155107245.jpg); width: 800px;
        height: 500px;
        margin-left:100px;
    }

.noth {
    background-repeat: no-repeat;
    background-size: cover;   
}

    .noth.see {
        background-image: url('../Files/ничего_нету.jfif');
        height: 500px;
        width: 500px;
        margin-left: 50px;
    }

.TaskImage {
    display: none;
    background-repeat: no-repeat;
    background-size: cover;     
    margin-left: 100px;
}
.container__tasks{
    display: flex;
    justify-content: space-around;
}
.form-select {
    width: 400px;
}
.form-control{
    width: 400px;
}

@media screen and (max-width: 940px){
    .container__tasks {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
