@model ListDoctorAndRoom

<div class="mb-3">
    <label class="vodiapicker">Выберите доктора</label>
    <select name="DoctorId" required id="doctorLists" class="form-select">
        <option value="@null">ничего не выбрано</option>
        @foreach (var item in Model.ListDoctors)
        {
            <option value=@item.Id data-thumbnail=@item.ImagePath>@item.FullName</option>
        }
    </select>
    <span asp-validation-for="DepartamentId" class="text-danger"></span>
</div>
<p>Фото доктора</p>
    <img src="" alt="Alternate Text" id="DoctorPhoto" style="display:none;width:150px;height:150px" />

<div class="mb-3">

    <label asp-for="RoomId" class="control-label"></label>
    <select name="RoomId" required class="form-select">
        <option value="@null">ничего не выбрано</option>
        @foreach (var item in Model.ListRooms)
        {
            <option value=@item.Id>Палата №:@item.RoomNumber</option>
        }
    </select>
    <span asp-validation-for="DepartamentId" class="text-danger"></span>

</div>
